In [1]:
#importing required libraries
import numpy as np
import os
import glob
import pandas as pd

In [206]:
#importing data set
df = pd.read_csv("202112-divvy-tripdata.csv")

In [207]:
#checking datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247540 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             247540 non-null  object
 1   rideable_type       247540 non-null  object
 2   started_at          247540 non-null  object
 3   ended_at            247540 non-null  object
 4   start_station_name  196477 non-null  object
 5   start_station_id    196477 non-null  object
 6   end_station_name    194042 non-null  object
 7   end_station_id      194042 non-null  object
 8   start_lat           247540 non-null  float64
 9   start_lng           247540 non-null  float64
 10  end_lat             247396 non-null  float64
 11  end_lng             247396 non-null  float64
 12  member_casual       247540 non-null  object
dtypes: float64(4), object(9)
memory usage: 24.6+ MB

In [208]:
#Deleteing null values
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176371 entries, 1 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  object
 3   ended_at            176371 non-null  object
 4   start_station_name  176371 non-null  object
 5   start_station_id    176371 non-null  object
 6   end_station_name    176371 non-null  object
 7   end_station_id      176371 non-null  object
 8   start_lat           176371 non-null  float64
 9   start_lng           176371 non-null  float64
 10  end_lat             176371 non-null  float64
 11  end_lng             176371 non-null  float64
 12  member_casual       176371 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.8+ MB

In [209]:
df.describe()

           start_lat      start_lng        end_lat        end_lng
count  176371.000000  176371.000000  176371.000000  176371.000000
mean       41.900764     -87.644681      41.900875     -87.644919
std         0.040634       0.023041       0.040650       0.023182
min        41.648538     -87.830000      41.648501     -87.830000
25%        41.881006     -87.657596      41.881032     -87.658139
50%        41.894666     -87.641379      41.894652     -87.641459
75%        41.924256     -87.629544      41.924632     -87.629544
max        42.064854     -87.528232      42.064854     -87.528232

In [210]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,0CD83C3FE35E69A0,classic_bike,12/1/2021 0:00,12/1/2021 0:07,State St & Kinzie St,13050,St. Clair St & Erie St,13016,41.889187,-87.627754,41.894345,-87.622798,casual
4,5CB387082B4310B2,classic_bike,12/1/2021 0:03,12/1/2021 0:07,Ellis Ave & 60th St,KA1503000014,University Ave & 57th St,KA1503000071,41.785097,-87.601073,41.791478,-87.599861,member
5,A8830C276991FBBC,classic_bike,12/1/2021 0:04,12/1/2021 0:07,Lake Park Ave & 47th St,TA1308000035,Greenwood Ave & 47th St,TA1308000002,41.809443,-87.591875,41.809835,-87.599383,member
7,5888E624121F3AF1,electric_bike,12/1/2021 0:05,12/1/2021 0:19,Clark St & Chicago Ave,13303,Ping Tom Park (East),20260,41.896774,-87.631060,41.860000,-87.630000,member
8,82CE2ACCE16EE094,classic_bike,12/1/2021 0:05,12/1/2021 0:32,Michigan Ave & Lake St,TA1305000011,DuSable Lake Shore Dr & Diversey Pkwy,TA1309000039,41.886024,-87.624117,41.932588,-87.636427,member

In [211]:
#drooping duplicate values
df = df.drop_duplicates()

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176371 entries, 1 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  object
 3   ended_at            176371 non-null  object
 4   start_station_name  176371 non-null  object
 5   start_station_id    176371 non-null  object
 6   end_station_name    176371 non-null  object
 7   end_station_id      176371 non-null  object
 8   start_lat           176371 non-null  float64
 9   start_lng           176371 non-null  float64
 10  end_lat             176371 non-null  float64
 11  end_lng             176371 non-null  float64
 12  member_casual       176371 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.8+ MB

In [213]:
#converting to datetime datatype
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [214]:
#calculating ride length
df['ride_length'] = df['ended_at']-df['started_at']

In [215]:
#calculating weekdays
df['weekday'] = df['started_at'].apply(lambda x: x.weekday())

In [216]:
#dropping unnecessary information
df = df.drop(['start_station_id'], axis=1)

In [217]:
df = df.drop(['end_station_id'], axis=1)

In [218]:
df = df.drop(['start_lat'], axis=1)

In [219]:
df = df.drop(['start_lng'], axis=1)

In [220]:
df = df.drop(['end_lat'], axis=1)

In [221]:
df = df.drop(['end_lng'], axis=1)

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176371 entries, 1 to 247539
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  datetime64[ns]
 3   ended_at            176371 non-null  datetime64[ns]
 4   start_station_name  176371 non-null  object
 5   end_station_name    176371 non-null  object
 6   member_casual       176371 non-null  object
 7   ride_length         176371 non-null  timedelta64[ns]
 8   weekday             176371 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(5), timedelta64[ns](1)
memory usage: 13.5+ MB

In [223]:
#Exporting to an external csv file
df.to_csv('202112.csv')

In [2]:
#combining all csv into one csv file
# this fill will be used for further analysis of data 
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
combined_df = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_df.to_csv( "combined_df.csv", index=False, encoding='utf-8-sig')